{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/style/clock.css">
    <script src="{{ url_for('.static', filename='js/clock.js') }}" defer></script>
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}
{% block navbar %}
    {% if userLogin %}
    	{% include "includes/navbar-login.html" %}
    {% else %}
        {% include "includes/navbar.html" %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="px-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="height: 150px">
                    <div class="card-header">Średnia 4,75</div>
                    <div class="card-body">
                        <h5 class="catd-title">Przedmioty ze średnią 4,75 lub większą</h5>
                        <div class="card-text">
                            matematyka <span class="badge bg-success">4,78</span>
                            biologia <span class="badge bg-success">5,05</span>
                            informatyka <span class="badge bg-success">5,30</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="height: 150px">
                    <div class="card-header">Zagrożenia</div>
                    <div class="card-body">
                        <h5 class="catd-title">Przedmioty ze średnią poniezej 2.0</h5>
                        <div class="card-text">
                            wf <span class="badge bg-danger">1,78</span>
                            plastyka <span class="badge bg-danger">1,05</span>
                            historia <span class="badge bg-danger">1,30</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="height: 150px">
                    <div class="card-header">Pogoda</div>
                    <div class="card-body">
                        <div class="card-text">
                            Pogoda, warunki, jakość powietrza
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card" style="height: 150px">
                    <div class="card-header">Data</div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ moment(date).format('dddd DD MMMM YYYY') }}
                            <div class="container mx-0 mt-3 bg-primary">
                                <div class="clock">
                                  <div id="time" class="time"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            {% include 'includes/gradesTab.html' %}
        </div>
    </div>
{% endblock %}